<article class="app-preview link-three-default-theme">
  <section class="app-preview-header app-preview-header-major-62">
    <section class="app-preview-buttons app-preview-buttons-preset">
      <button class="app-preview-button-back"
              (click)="navigateEditor()">
        <label class="lt-txt-s-bold">{{BACK_LABEL}}</label>
      </button>

      <button class="app-preview-button-share">
        <label class="lt-txt-s-bold">{{SHARE_LINK_LABEL}}</label>
      </button>
    </section>
  </section>
</article>
