.lt-txt-m-bold {
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
}

.lt-txt-s-bold {
  color: var(--link-three-preset-45);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.lt-txt-m {
  color: var(--link-three-preset-45);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.lt-txt-s {
  color: var(--link-three-preset-20);
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
